/* This is an example CSS file, feel free to remove/edit it anytime */
/* font  */
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Regular";
  src: url("assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Medium";
  src: url("assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SemiBold";
  src: url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* heding style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Regular", sans-serif;
  color: #535252;
}
a {
  font-family: "Medium", sans-serif;
}

h4 {
  font-family: "Regular", sans-serif;
  font-size: 18px;
}
h3 {
  font-family: "SemiBold", sans-serif;
  font-size: 36px;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navber {
  background-color: #fff;
  padding: 15px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style-type: none;
  list-style-image: none;
}

.menu-list {
  display: inline-block;
  margin-left: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #000;
  font-family: "Medium", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-display: swap;
  font-size: 18px;
}

.nav-logo {
  display: block;
}

/*------Hero Section-------*/
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.content-container {
  position: relative;
  left: 4.5rem;
  width: 40rem;
  max-width: 40rem;
}

.hero-content h1 {
  font-size: 72px;
}

.subtitle {
  font-size: 18px;
}

/* Style the link */
.button-container {
  margin: 20px 0 100px 0;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #fb8d03;
  color: #060606;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #2f7d33;
}
.arrow {
  margin-left: 5px;
  fill: #ffffff;
  transition: transform 0.3s ease;
}

.hero-button:hover .arrow {
  transform: translateX(5px);
}

.rectangle-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 330px;
  height: 90vh;
  background-color: #2f7d33;
}

#foodSlider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

.slider-container {
  margin: 10px;
  overflow: hidden;
  width: 40rem;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  padding: 40px;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.slide img {
  width: 480px;
  height: auto;
}

.chilli-image {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 120px;
  height: auto;
}

.hero-content h1 {
  font-size: 72px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
}

/*-----AboutUs Section------*/
.about-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-shape {
  position: absolute;
  left: -180px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #2f7d33;
}

.about-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  justify-content: center;
}

.about-img {
  position: absolute;
  left: 50px;
}

.about-img img {
  width: 400px;
}

.about-details {
  position: absolute;
  right: 5rem;
  width: 680px;
}

.section-heading {
  color: #fb8d03;
}

.about-details h3 {
  margin: 15px 0;
}

.about-details p {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
}
/*----Menu Section----*/
.menu-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  text-align: center;
  line-height: normal;
}

.sub-heading h3 {
  margin: 10px 0;
}
.sub-heading p {
  font-size: 18px;
}
.sub-heading {
  text-align: center;
}
.food-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.food-card {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 0 15px 15px;
}
.food-img {
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 0.3s ease;
}
.food-img img {
  width: 100%;
  display: block;
}

.food-img img {
  transition: transform 0.3s ease;
}

.food-card:hover .food-img img {
  transform: scale(1.2);
}
.food-title {
  font-family: "SemiBold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 0 10px 20px;
}

.food-decs {
  font-family: "Medium", sans-serif;
  color: #535252;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 14px;
  padding: 5px 0 20px 20px;
}
/*----Gallery Section-----*/
.gallery-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-section {
  padding-bottom: 40px;
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.gallery-content {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "SemiBold", sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.img-card {
  flex: 0 0 calc(33.33%);
  overflow: hidden;
  transition: filter 0.3s ease;
}

.img-card img {
  width: 100%;
  height: 100%;
  filter: opacity(99%) grayscale(60%);
  object-fit: cover;
}

.img-card img:hover {
  filter: opacity(100%);
}

/*-----Footer Section------*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
